<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Practice">
  <test thread-count="5" name="Assignment">
    <classes>
      <class name="testPractice.TestNG"/>
      <class name="testPractice.Test123"/>
      <class name="testPractice.Annotations"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
